{%extends "base.html"%}

{%block title%}Login|Item Catalogue{%endblock%}
{%block import%}
    <link rel="stylesheet" href="{{url_for('static',filename='styles/bootstrap-social.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/59d17b9f1c.js"></script>
    <script src="http://apis.google.com/js/platform.js?onload=start" async defer></script>
    <script src="{{url_for('static',filename='js/glogin.js')}}"></script>
    <script src="{{url_for('static',filename='js/fblogin.js')}}"></script>
{%endblock%}

{%block header%}
    <section class="header">
        <h2 class="title">Login</h2>
    </section>
{%endblock%}

{%block contents%}
    <section>
        <p>Hello. The current session token is: {{session_state}}</p>
        <div class="login-buttons">
            <button class="btn btn-block btn-social btn-google" onclick="gLogin('{{session_state}}');">
                <span class="fa fa-google"></span>Login using Google
            </button>
            <button class="btn btn-block btn-social btn-facebook" onclick="fbLogin('{{session_state}}');">
                <span class="fa fa-facebook"></span>Login using Facebook
            </button>
        </div>
        <div id="result">
        </div>
    </section>
{%endblock%}

