{%extends "base.html"%}

{%block title%}{{currentCategory.name}}|Item Catalogue{%endblock%}
{%block import%}{%endblock%}

{%block main_navigation%}
	{%if logged_in%}
		<div id="user">
			<a href="/logout" class="button orange">Logout</a>
		</div>
	{%else%}
		<div id="user">
			<a href="/login" class="button orange">Login</a>
		</div>
	{%endif%}
{%endblock%}

{%block header%}
	<section class="header">
		{%if logged_in%}
		<div class="options">
			<div class="wrapper">
				<a href="/items/new/">Add New Item</a>
			</div>
		</div>
		{%endif%}
	</section>
{%endblock%}

{%block contents%}
	<section id="menu">
		<div id="categories" class="part">
			<h2 class="title">Categories</h2>
			<ul>
			{%for category in categories%}
				<li class="menu-item"><a href="/items/{{category.slug}}">{{category.name}}</a></li>
			{%endfor%}
			</ul>
		</div>
		<div id="menu-items" class="part">
			<h2 class="title">{{currentCategory.name}} Items ({{count}} Items)</h2>
			<ul>
			{%for menuItem in menuItems%}
				<li class="menu-item"><a href="/items/{{menuItem[0]}}/{{menuItem[2]}}/">{{menuItem[1]}}</a></li>
			{%endfor%}
			</ul>
		</div>
	</section>
{%endblock%}



