{%extends "base.html"%}

{%block title%}Edit Item|Item Catalogue{%endblock%}
{%block import%}{%endblock%}

{%block main_navigation%}
	<div id="user">
		<a href="/logout" class="button orange">Logout</a>
	</div>
{%endblock%}

{%block header%}
	<section class="header">
		<h2 class="title">Edit Item</h2>
	</section>
{%endblock%}

{%block contents%}
	<section id="menu-item-form">
		<form action="/items/{{item.slug}}/{{item.MenuItem.slug}}/edit/" method="POST" enctype="multipart/form-data">
			<div class="form-group">
				<label for='form-title'>Title</label>
				<input id="form-title" type="text" name="title" value="{{item.MenuItem.name}}">
			</div>
			<div class="form-group">
				<label for='form-description'>Description</label>
				<textarea id="form-description" name="description" cols='40' rows='4'>{{item.MenuItem.description}}</textarea>
			</div>
			<div class="form-group">
				<label for='form-category'>Category</label>
				<select id='form-category' name="category">
					{%for category in categories%}
						<option value={{category.id}} {%if(category.id == item.MenuItem.category_id)%}selected{%endif%}>{{category.name}}</option>
					{%endfor%}
				</select>
			</div>
			<div class="form-group">
				<input type="submit" value="Update">
			</div>
		</form>						
	</section>
{%endblock%}
