<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
	<title></title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/style.css')}}">
</head>
<body>
	<header>
		<div class="content">
			<section id="logo">
				<a href="#"><h1>Catalogue App</h1></a>
			</section>
			<section id="user">
				<a href="#" class="button orange">Login</a>
			</section>
		</div>
	</header>
	<main>
		<div class="content">
			<div class="box">
				<section id="menu">
					<div id="categories" class="part">
						<h2 class="title">Categories</h2>
						<ul>
						{%for category in categories%}
							<li class="menu-item"><a href="#">{{category.name}}</a></li>
						{%endfor%}
						</ul>
					</div>
					<div id="menu-items" class="part">
						<h2 class="title">Latest Items</h2>
						<ul>
						{%for menuItem in menuItems%}
							<li class="menu-item"><a href="#">{{menuItem.name}}</a></li>
						{%endfor%}
						</ul>
					</div>
				</section>
			</div>
		</div>
	</main>
</body>
</html>